<h2 class="new-question-title">Edit Question</h2>
<%= render 'shared/form', question: @question %>

<div class="question-link">
  <%= link_to "Delete Question", question_path(@question), method: :delete %>
</div>
