<!DOCTYPE html>
<html>
  <head>
    <title>QuestionSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main">
      <p class="welcome-paragraph">
        Since the dawn of civilization humans have sought answers to questions. But until now there has never been a nexus where questions of any significance can be asked and people of questionable qualification or authority are able to answer them. Or maybe that is an apt description of much of the internet. Perhaps questions such as these should be posted here at the Question Depot. Use the link at the top of the screen to submit any question you like. Or browse submitted questions below and click on them to read them in detail, read any answers or submit your own answer. Additional features include the ability to mark an answer as 'best aswer' to have it be displayed at the top of the answer list and markdown support! That's right, if you desire to submit your answer or question in markdown format, the Question Depot can handle it! Trouble thinking of a question to ask? Ponder the pictures of the Painted Desert that are sprinkled throughout this site and questions are sure to abound.
      </p>

      <div class="questions">
        <div class="questions-header">
          <h3>Questions</h3>
        </div>
        <ul class="question-list">
          <% @questions.each do |question| %>
            <li class="question-list-item"><%= link_to question.title, question_path(question)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
